In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

# Import processed data

In [2]:
folder_processed_data_path = './data/processed_data/'

movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_df.csv'))
movie_df.set_index(['wiki_ID'], inplace=True)
# Verify the indexes are unique
print(f"Is the indexing unique in movie_df ? {movie_df.index.is_unique}")

character_df = pd.read_csv(os.path.join(folder_processed_data_path, 'character_df.csv'))
character_df.set_index(['wiki_ID', 'char_name'], inplace=True)
# Verify the indexes are unique
print(f"Is the indexing unique in character_df ? {character_df.index.is_unique}")

name_by_movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_df.csv'))
name_by_movie_df.set_index(['wiki_ID', 'char_words'], inplace=True)
# Verify the indexes are unique
print(f"Is the indexing unique in name_by_movie_df ? {name_by_movie_df.index.is_unique}")

baby_name_df = pd.read_csv(os.path.join(folder_processed_data_path, 'baby_name_df.csv'))
baby_name_df.set_index(['name', 'year'], inplace=True)
# Verify the indexes are unique
print(f"Is the indexing unique in baby_name_df ? {baby_name_df.index.is_unique}")

print("movie_df :")
display(movie_df.head())
print("character_df :")
display(character_df.head())
print("name_by_movie_df :")
display(name_by_movie_df.head())
print("baby_name_df :")
display(baby_name_df.head())

Is the indexing unique in movie_df ? True
Is the indexing unique in character_df ? True
Is the indexing unique in name_by_movie_df ? True
Is the indexing unique in baby_name_df ? True
movie_df :

,free_ID,mov_name,release,revenue,runtime,languages,countries,genres
wiki_ID,,,,,,,,
975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

character_df :

                                       release         DOB gender  height  \
wiki_ID char_name
975900  Akooshay                    2001-08-24  1958-08-26      F   1.620
        Lieutenant Melanie Ballard  2001-08-24  1974-08-15      F   1.780
        Desolation Williams         2001-08-24  1969-06-15      M   1.727
        Sgt Jericho Butler          2001-08-24  1967-09-12      M   1.750
        Bashira Kincaid             2001-08-24  1977-09-25      F   1.650

                                              act_name  age_at_release
wiki_ID char_name
975900  Akooshay                        Wanda De Jesus            42.0
        Lieutenant Melanie Ballard  Natasha Henstridge            27.0
        Desolation Williams                   Ice Cube            32.0
        Sgt Jericho Butler               Jason Statham            33.0
        Bashira Kincaid                    Clea DuVall            23.0

name_by_movie_df :

Empty DataFrame
Columns: []
Index: [(975900, Lieutenant), (7668793, Lieutenant), (24226493, Lieutenant), (3388805, Lieutenant), (8231713, Lieutenant)]

baby_name_df :

              number  percentage
name    year
Aaban   2007       5    0.000125
Aadam   2007       8    0.000200
Aadan   2007       8    0.000200
Aadarsh 2007      13    0.000325
Aaden   2007     157    0.003928

In [3]:
movie_df.head()

,free_ID,mov_name,release,revenue,runtime,languages,countries,genres
wiki_ID,,,,,,,,
975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [4]:
#Select the movie we are interested in and identify wiki_ID
Movie_search = 'Ghosts of Mars'
selected_row = movie_df[movie_df['mov_name'] == Movie_search]
display(selected_row)

,free_ID,mov_name,release,revenue,runtime,languages,countries,genres
wiki_ID,,,,,,,,
975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."

In [5]:
#Get the names associated with the movies
Release_year = 1985
Film_wiki_ID = 583012
word_name_df.head()
iltered_row = word_name_df[word_name_df['wiki_ID'] == Film_wiki_ID]
display(iltered_row.head())

Name_search = 'John'

NameError: name 'word_name_df' is not defined

In [6]:
### Select the baby names data for the considered period and that are present in the movie

# Get names from MultiIndex
multi_index_names = baby_name_with_percentage_df.index.get_level_values('name')

# Get names from the 'column_name' column
column_names = iltered_row['char_words'].tolist()

# Find the intersection of the two sets
common_names = set(multi_index_names).intersection(column_names)

display(baby_name_selection)
print(len(common_names))

# Filter the DataFrame to include only rows with names in both sets
result_df = baby_name_with_percentage_df[baby_name_with_percentage_df.index.get_level_values('name').isin(common_names)]

display(result_df)

#display(baby_name_with_percentage_df.head())

start_year = Release_year - 10
end_year = Release_year + 10

#select data for + / - 5 years around release date

result_df_5years = result_df.loc[
    (result_df.index.get_level_values('year') >= start_year) &
    (result_df.index.get_level_values('year') <= end_year)
]
#Check if selected years are good

result_df_5years.index.get_level_values('year').unique()

result_df_5years.reset_index(inplace= True)

result_specific_name = result_df_5years[result_df_5years['name'] == Name_search]

result_specific_name.sort_values(by='year', inplace=True)

result_specific_name

import matplotlib.pyplot as plt

# Assuming result_specific_name is your DataFrame
plt.plot(result_specific_name['year'], result_specific_name['percentage'])
plt.axvline(x= Release_year, color='red', linestyle='--', label='Year 1997')
# Adding labels and title
plt.xlabel('Year')
plt.ylabel('Percentage')
plt.title('Percentage vs Year for Specific Name')

# Display the plot
plt.show()

NameError: name 'baby_name_with_percentage_df' is not defined

In [7]:
display(result_specific_name)

NameError: name 'result_specific_name' is not defined

In [8]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from statsmodels.stats import diagnostic
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf


#Il faut lui donner le data frame comme result_specific_name dans la plage de temps désiré

df_before_release = result_specific_name[result_specific_name['year']< Release_year]

df_after_release = result_specific_name[result_specific_name['year']> Release_year]


#model before release
mod_before = smf.ols(formula = 'percentage ~ year' , data = df_before_release)
np.random.seed(2)
res_before = mod_before.fit()
display(res_before.summary())

coefficients_before = res_before.params.values

Beta_before = coefficients_before[1]


#model after release
mod_after = smf.ols(formula = 'percentage ~ year' , data = df_after_release)

res_after = mod_after.fit()
display(res_after.summary())

coefficients_after = res_after.params.values

Beta_after = coefficients_after[1]

display(Beta_after,Beta_before)

### Testing

# Beta_before and Beta_after are the coefficients we want to compare

# Calculate the standard errors of the coefficients
se_before = res_before.bse[1]  # Standard error for Beta_before
se_after = res_after.bse[1]    # Standard error for Beta_after

# Calculate the t-statistic for the difference between the coefficients
t_statistic = (Beta_before - Beta_after) / np.sqrt(se_before**2 + se_after**2)

# Degrees of freedom
degree_freedom = len(df_before_release) + len(df_after_release) - 2  # Total sample size - number of parameters

# Two-tailed t-test for the difference between coefficients
p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), df=df))

# Print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check if the difference is statistically significant at 5% level
if p_value < 0.05:
    print("The difference is statistically significant at 5% level.")
else:
    print("There is no significant difference between the coefficients.")



# display(df_before_release)
# display(df_after_release)

NameError: name 'result_specific_name' is not defined